@import url(./reset.css);

@font-face {
  font-family: "Figtree", sans-serif;
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;
  --border-radius-regular: 20px;
}

body {
  font-family: "Figtree", sans-serif;
}

.main-content {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  border: 1px solid black;
  border-radius: var(--border-radius-regular);
  background-color: var(--white);
  box-shadow: 6px 5px 0px 3px #000000;
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 500px;
  width: 50%;
  min-width: 300px;
  height: 100%;
  gap: 16px;
  max-height: 600px;
  overflow: scroll;
}

.card__image {
  border-radius: var(--border-radius-regular);
  height: 300px;
  object-fit: cover;
  max-width: 100%;
}

.card__category {
  background-color: var(--yellow);
  border-radius: 5px;
  text-align: center;
  width: 100px;
  padding: 4px;
  font-weight: 800;
}

.card__date {
  color: var(--gray-950);
}

.card__title {
  font-size: 24px;
  font-weight: 800;
}

.card__title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.card__description {
  color: var(--gray-500);
  font-weight: 200;
}

.card__author-figure {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card__author-name {
  font-weight: 800;
}
