@import url(./reset.css);

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Figtree";
  src: url("path/to/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Fallback font: Bold (weight 700) */
@font-face {
  font-family: "Figtree";
  src: url("path/to/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Figtree", sans-serif;
}

.main-content {
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  border-radius: 20px;
  border: 1px solid black;
  background-color: green;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card__category {
  background-color: #f4d04e;
  text-align: center;
  border-radius: 20px;
}

.card__title {
  font-weight: 800;
  font-size: 24px;
}

.card__description {
  font-weight: 400;
  font-size: 16px;
}

.card__date {
  font-weight: 400;
  font-size: 14px;
}

.card__author-figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
}

.card__category,
.card__author-name {
  font-weight: 800;
  font-size: 14px;
}

.card__image {
  border-radius: 20px;
}
